.main-menu::-webkit-scrollbar {
    width: 12px !important; 
  }
  
  .main-menu::-webkit-scrollbar-track {
    background: transparent !important; 
  }
  
  .main-menu::-webkit-scrollbar-thumb {
    background: var(--Text-AW-Type-6, #555C70) !important; 
    border-radius: 150px !important; 
  }
  
  .main-menu::-webkit-scrollbar-thumb:hover {
    background: #666 !important;

  }
  
  .main-menu {
    max-height: 800px; 
    overflow-y: auto; 
    overflow-x: hidden; 
  }
  
  .sub-menu.is-open, .sub-sub-menu.is-open {
    opacity: 1;
    max-height: 100%; 
  }
  
  html {
    scrollbar-width: thin;
    scrollbar-color: var(--Text-AW-Type-6, #555C70) transparent;
  }